
/.obsidian
/.obsidian
/.obsidian/themes
nvim/spell/*
nvim/*.json
nvim/lazy-lock.json
emacs/.config/emacs/auto-save-list
emacs/.config/emacs/backups
emacs/.config/emacs/eln-cache/30.2-d3a47193
emacs/.config/emacs/elpa
emacs/.config/emacs/lisp/private-mail.el
emacs/.config/emacs/modules/private-mail.el
emacs/.config/emacs/private-mail.el
emacs/.config/emacs/lisp
emacs/.config/emacs/not-used
emacs/.config/emacs/persp-confs
emacs/.config/emacs/sessions
emacs/.config/emacs/tree-sitter
emacs/.config/emacs/.bg-cache
emacs/.config/emacs/.org-id-locations
emacs/.config/emacs/.theme-cache
emacs/.config/emacs/bookmarks
emacs/.config/emacs/forge-database.sqlite
emacs/.config/emacs/mermaid-config.json
emacs/.config/emacs/org-roam-polibuda.db
emacs/.config/emacs/org-roam.db
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/projects
emacs/.config/emacs/recentf
emacs/.config/emacs/tabsession.el
emacs/.config/emacs/treemacs-persist
nvim/.config/nvim/spell
nvim/.config/nvim/lazy-lock.json
tmux/.tmux/plugins
sway/.config/sway/scripts/sys-info
emacs/.config/emacs/tramp
emacs/.config/emacs/auto-save
emacs/.config/emacs/scripts/mutt_oauth2.py
emacs/.config/emacs/projectile-frecency.eld
vim/.config/vim/coc-settings.json
emacs/.config/emacs/.cache
emacs/.config/emacs/history
emacs/.config/emacs/places
emacs/.config/emacs/elisp-autofmt-cache
