@import "colors.css";

* {
  font-family: "Typus Mono", "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  border-radius: 0px;
}

.control-center {
  background: @bg_dark;
  border: 1px solid @border_inactive;
  color: @text_main;
}

.notification {
  background: @bg_surface;
  border: 1px solid @border_subtle;
  margin: 6px;
}

.notification-content {
  background: transparent;
  padding: 10px 12px;
}

.notification-content .image,
.notification-content .app-icon,
.image,
.app-icon {
  -gtk-icon-size: 32px;
  min-width: 32px;
  min-height: 32px;
  margin-left: 4px;
  margin-right: 14px;
  margin-top: auto;
  margin-bottom: auto;
}

.notification-content .text-box label {
  color: @text_main;
}

.notification-content .text-box .summary {
  font-size: 14px;
  font-weight: bold;
  color: @text_focused;
  margin-bottom: 3px;
}

.notification-content .text-box .body {
  font-size: 13px;
  color: @text_muted;
}

.close-button {
  background: @bg_surface;
  color: @text_muted;
}

.close-button:hover {
  background: #381616;
  color: @accent_urgent;
}

.widget-title {
  color: @text_focused;
  background: @bg_dark;
  padding: 10px 12px;
  border-bottom: 1px solid @border_subtle;
}

.widget-title > button {
  background: @bg_surface;
  border: 1px solid @border_subtle;
  color: @text_main;
  padding: 4px 10px;
}

.widget-title > button:hover {
  background: @bg_active;
  border-color: @border_inactive;
  color: @text_focused;
}

.notification-group {
  background-color: @bg_dark;
  border: 1px solid @border_subtle;
  border-radius: 0px;
}
