* {
  font-family: "Adwaita Sans", "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 0px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: #222222;
  color: #ffffff;
}

#workspaces button {
  padding: 0 10px;
  background-color: #222222;
  color: #888888;
  border-right: 1px solid #333333;
}

#workspaces button.focused {
  background-color: #4c7899;
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #900000;
  color: #ffffff;
}

#workspaces button:hover {
  background-color: #285577;
  color: #000000;
}

#clock {
  padding: 0 12px;
  background-color: #222222;
  color: #ffffff;
}

#custom-spotify {
  padding: 0 12px;
  background-color: #222222;
  color: #ffffff;
  border-right: 1px solid #333333;
}

#network,
#pulseaudio,
#tray {
  padding: 0 10px;
  background-color: #222222;
  border-left: 1px solid #333333;
  color: #ffffff;
}

#custom-power {
  padding: 0 20px;
  background-color: #222222;
  border-left: 1px solid #333333;
  color: #e01b24;
}

#custom-recording {
  padding: 0 10px;
  color: #ff5555;
  font-size: 14px;
}

#custom-power:hover {
  background-color: #900000;
  color: #ffffff;
}

window#waybar.bottom {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

window#waybar.bottom #clock {
  padding: 2px 10px;
  color: #ffffff;
}

window#waybar.bottom #workspaces button {
  padding: 0 8px;
  background-color: transparent;
  color: #888888;
  border: none;
}

window#waybar.bottom #workspaces button.focused {
  background-color: rgba(76, 120, 153, 0.6);
  color: #ffffff;
}

window#waybar.bottom #workspaces button:hover {
  background-color: rgba(40, 85, 119, 0.5);
  color: #ffffff;
}

#custom-notification {
  padding: 0 12px;
  background-color: #222222;
  border-left: 1px solid #333333;
  color: #ffffff;
}

#custom-notification:hover {
  background-color: #285577;
}

tooltip {
  background-color: #1c1c1c;
  border: 2px solid #4c7899;
  border-radius: 0px;
  padding: 8px 12px;
}

tooltip label {
  color: #ffffff;
  padding: 2px 4px;
}

