window {
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(30, 30, 30, 0.75);
  color: white;
}

#osd {
  margin: 10px;
}

label {
  color: white;
}

progressbar:disabled,
trough:disabled {
  filter: none;
}

trough {
  min-height: 8px;
  min-width: 200px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}

slider {
  min-height: 8px;
  min-width: 8px;
  border-radius: 8px;
  background: white;
}
