#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#121414",
    floating_border_color: "#93fcd5",
    focused_border_color: "#d5dede",
    background_color: "#121414",
)