/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #121414 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #d5dede; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #d5dede; background-color: rgba(147,252,213,0.4)}
.cm-s-nqqwal { background-color: #121414; color: #d5dede; }
.cm-s-nqqwal span.cm-builtin { color: #c7c7dc; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #acb4b4; }
.cm-s-nqqwal span.cm-keyword { color: #8ae2f8; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #bedbdc; }
.cm-s-nqqwal span.cm-def { color: #8af5fa; }
.cm-s-nqqwal span.cm-variable { color: #93fcd5; }
.cm-s-nqqwal span.cm-variable-2 { color: #8af5fa; }
.cm-s-nqqwal span.cm-string { color: #c7c7dc; }
.cm-s-nqqwal span.cm-string-2 { color: #c7c7dc; }
.cm-s-nqqwal span.cm-number { color: #8af5fa; }
.cm-s-nqqwal span.cm-tag { color: #8ae2f8; }
.cm-s-nqqwal span.cm-property { color: #93fcd5; }
.cm-s-nqqwal span.cm-attribute { color: #93fcd5; }
.cm-s-nqqwal span.cm-qualifier { color: #bedbdc; }
.cm-s-nqqwal span.cm-meta { color: #8af5fa; }
.cm-s-nqqwal span.cm-header { color: #8ae2f8; }
.cm-s-nqqwal span.cm-operator { color: #8ae2f8; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(138,245,250,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #8ae2f8; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #121414); }
