configuration {
  show-icons: true;
}

* {
  font: "Inter 11";
  background-color: transparent;
  text-color: #e0e0e0;
}

window {
  width: 600px;
  height: 163px;
  border: 1px;
  border-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(30, 30, 30, 0.75);
  border-radius: 12px;
}

mainbox {
  children: [ listview];
}

listview {
  columns: 4;
  fixed-columns: true;
  spacing: 10px;
  padding: 8px;
  scrollbar: false;
  fixed-height: true;
}

element {
  orientation: vertical;
  padding: 0px;
  border-radius: 8px;
  background-color: transparent;
  expand: false;
}

element selected {
  background-color: rgba(255, 255, 255, 0.1);
}

element-icon {
  size: 145px;
  cursor: pointer;
  horizontal-align: 0.5;
  vertical-align: 0.5;
  margin: 0px;
}

element-text {
  enabled: false;
}
